In [ ]:
print("Chuong trinh dau tien")
print("Hello")

# This is heading

Abc

# Heading

**This is abc

***Bac

--Striking

# Heading 2

### Heading 3

## Heading 2

In [2]:
print("Hello")

Hello

In [3]:
25*(1/2)

12.5

In [4]:
25**(1/2)

5.0

In [5]:
25**(1/2)

5.0

In [6]:
city="Hanoi"

In [7]:
city

'Hanoi'

In [8]:
type(city)

str

In [9]:
str(10)

'10'

In [10]:
float(10)

10.0

In [11]:
x = 10,20,25

In [12]:
print(x)

(10, 20, 25)

In [13]:
x

(10, 20, 25)

In [14]:
y = (10,'abc')

In [15]:
y

(10, 'abc')

In [16]:
type(y)

tuple

In [17]:
#!/usr/bin/python

list1 = ['Toán', 'Tin', 1997, 2000,'Ngoại ngữ']
list2 = [1, 2, 3, 4, 5, 6, 7 ]
list0 = list1 + list2

In [18]:
#list1
list0

['Toán', 'Tin', 1997, 2000, 'Ngoại ngữ', 1, 2, 3, 4, 5, 6, 7]

In [19]:
list1[1]

'Tin'

In [20]:
list1[0]

'Toán'

In [21]:
y[0]

10

In [22]:
y[1]

'abc'

In [23]:
print ("list1[0]: ", list1[0])

list1[0]:  Toán

In [24]:
list = ['Tin', 'Toán', 1997, 2000];
print ("Value available at index 2 : ");
print (list[2]);
list[2] = 2019;
print ("New value available at index 2 : ");
print (list[2]);

Value available at index 2 :
1997
New value available at index 2 :
2019

In [25]:
print(list);
list[:3]

['Tin', 'Toán', 2019, 2000]

['Tin', 'Toán', 2019]

In [26]:
list[1:2]

['Toán']

In [27]:
list[0::2]

['Tin', 2019]

In [28]:
list[1:3]

['Toán', 2019]

In [29]:
list[1:]

['Toán', 2019, 2000]

In [30]:
list[2:]

[2019, 2000]

In [31]:
list[:3]

['Tin', 'Toán', 2019]

In [32]:
list[:1]

['Tin']

In [33]:
id(list)

1300211423496

In [34]:
id(list[1])

1300212854912

In [35]:
list[1:4:2]

['Toán', 2000]

In [36]:
thisdict = {
  "apple": "green",
  "banana": "yellow",
  "cherry": "red"
}
print(thisdict)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [37]:
thisdict = dict(apple="green", banana="yellow", cherry="red")
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [38]:
thisdict = dict(apple="green", banana="yellow", cherry="red")
del(thisdict["banana"])
print(thisdict)

{'apple': 'green', 'cherry': 'red'}

In [39]:
thisdict["apple"]

'green'

In [40]:
a = 33
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")

a and b are equal

In [41]:
def AddNum(x,y):
	result = x + y
	return(result)

In [42]:
AddNum(10,12)

22

In [43]:
def AddNum1(*args):
  # *args 
  print(args)

In [44]:
AddNum1([8,9,10])

([8, 9, 10],)

In [3]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [5]:
s

a   -0.896060
b   -0.537762
c   -0.280396
d   -1.920711
e   -0.041275
dtype: float64

In [ ]:
a = 33
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")

In [ ]:
import numpy as np

In [ ]:
s.loc["d"]

In [ ]:
s1 = pd.Series(np.random.randn(5), name='something')

In [ ]:
s1

In [ ]:
s1.loc[1]

In [ ]:
s1.loc[(s1>0.5)]

In [ ]:
s1.loc[(s1>0.5) & (s1 <0.9)]

In [ ]:
# How to list all Attributes
dir(s1)

In [ ]:
dir(list)

In [ ]:
dir(list)

In [ ]:
# pandas.core.frame.DataFrame
# Khi doc du lieu tu File, vi du File CSV hoac cac dang DB duoi day, du lieu ca file se duoc dua vao Data Frame
# csv / Text
# Excel file
# DBMS
# SAS

In [ ]:
a = np.array([1.0, 2.0, 3.0])

In [ ]:
np.array([2.0, 2.0, 2.0])

In [ ]:
a * b

In [ ]:
import pandas as pd
table1 = pd.read_csv("D:\Datasets\Big Data\Credit_test.csv",sep=",")

In [ ]:
table1

In [ ]:
table2 = pd.read_csv("D:\Datasets\Big Data\Credit_test.csv",sep=",")

In [ ]:
table2

In [ ]:
table3 = pd.read_csv("D:\Datasets\Big Data\Credit_test.csv",sep=",")

In [ ]:
table3

In [ ]:
table3.columns

In [ ]:
table3.shape # (num of rows, num of columns)

In [ ]:
nrows = table3.shape[0]
ncolumns = table3.shape[1]

In [ ]:
print(nrows)

In [ ]:
dir(table3)

In [ ]:
table3.info()
# Non - null

In [ ]:
table3.describe()

In [ ]:
# 1. Fetching / Select Columns
# Using Operater .
table3.BUSAGE #Select 1 columns

In [ ]:
# Select Multi Columns
table3[["BUSAGE"]]   # Output the Data Frame
table3[["BUSAGE","MAXLINEUTIL"]]

In [ ]:
# 1.3 User of Loc and iLoc
# table3.loc[,]
# [row index/names, column index/names]
table3.loc[:,["BUSAGE","MAXLINEUTIL"]]  # : meaning all "ROWS"

In [ ]:
# Select 1st 10 rows from the table, columns with names "BUSAGE","MAXLINEUTIL"
table3.loc[0:9,["BUSAGE","MAXLINEUTIL"]]  # Loc get all 0:9 Index

In [ ]:
table3.info()

In [6]:
DoB = "15Dec1970"
# 15 - Day
# Dec - Month
# Year

In [7]:
pd.to_datetime(DoB, format = "%d%b%Y")

Timestamp('1970-12-15 00:00:00')

In [ ]:
DoB = ["21Mar1990","13Dec1993","17Jan1989","15Jul1970"]

In [ ]:
pd.to_datetime(DoB, format = "%d%b%Y")

In [ ]:
DoB

In [ ]:
# Task
# Convert "" to datetime
# 2. For the above series DoB, caculate age of all the values
# Find out to get today's date

In [ ]:
pd.Series(DoB)

In [ ]:
pd.to_datetime(pd.Series(DoB), format = "%d%b%Y")

In [ ]:
DoB_date = pd.to_datetime(pd.Series(DoB), format = "%d%b%Y")

In [ ]:
type(DoB_date)

In [ ]:
# If any column/Series is datetime object, then "dt" get added to it
DoB_date.dt

print(dir(DoB_date.dt))

In [ ]:
DoB_date.dt.day

In [ ]:
DoB_date.dt.year

In [ ]:
?DoB_date.dt.year
?pd.read_csv

In [ ]:
DoB_date.dt.quarter

In [ ]:
# Change or Rename Columns
# Rename Columns
# {"OldName - Exiting name":"NewName"}
table3.rename(columns = {"BUSAGE":"BUSAGE1"})
# Renaming takes place and result is saved in another table3

In [ ]:
table3

In [ ]:
# Add a Columns
# Add TOTAL = TOTACBAL Columns to table3
# table3.assign(newcol = ...,newcol2 = ...)
table3 = table3.assign(TOTAL = table3.TOTACBAL)

In [ ]:
table3

In [ ]:
table3.drop(columns="TOTAL")

In [ ]:
# Rearraging columns
table3 = table3.assign(TOTAL = table3.TOTACBAL)
table3.iloc[0:10,[0,1,2]]

In [ ]:
table3.shape

In [ ]:
# 0,1,4,3,2,5
table3.iloc[0:10,[0,1,4,3,2,5]]

In [ ]:
# 1. Filtering
# Task: Get all observation from the city/location
subset1 = table3.loc[(table3.BUSTYPE == "A"),]
#subset1
subset1.reset_index(drop=True)

In [ ]:
# Tasks: Get data where TOTACBAL 10000 - 100000
subset2 = table3.loc[(table3.TOTACBAL > 10000) & (table3.TOTACBAL < 100000)]
#subset2
subset2.reset_index(drop=True)

In [ ]:
# Select Columns
subset3 = table3.loc[(table3.TOTACBAL > 10000) & (table3.TOTACBAL < 100000),["BUSTYPE","TOTACBAL"]]
#subset2
subset3.reset_index(drop=True)

In [ ]:
# Sorting
subset3.sort_values(["BUSTYPE"]).reset_index(drop=True)
subset3.sort_values(["BUSTYPE"],ascending = True).reset_index(drop=True)

In [ ]:
sort3 = subset3.sort_values(["BUSTYPE","TOTACBAL"], ascending=False).reset_index(drop=True)
sort3

In [ ]:
sort4 = subset3.sort_values(["BUSTYPE","TOTACBAL"], ascending=[True,False]).reset_index(drop=True)
sort4

# Or
sort4 = subset3.sort_values(["BUSTYPE","TOTACBAL"], ascending=[1,0]).reset_index(drop=True)
sort4

In [ ]:
# Removing redundency
score = pd.read_csv("D:\Datasets\Big Data\Score.csv")
score

In [ ]:
# Aim: to remove duplicate on a row level
#     if all cell values are same, then it's a duplicate

# Aim: to remove duplicate respect to a column
#     

# duplicate() - True if a value is repeated
# 1,2,3,2,4,1,2,3
# F,F,F,T,F,T,T,T

score.loc[-score.duplicated(),]
# return all the duplicated values

In [ ]:
score.loc[score.duplicated(),]
# return all unique values

In [ ]:
score.loc[score.Student.duplicated(),] #Repeated values

In [ ]:
score.loc[-score.Student.duplicated(),] #Unique values

In [ ]:
score.drop_duplicates()

In [ ]:
score.drop_duplicates(["Student"])

In [8]:
# Removing missing value
stores = pd.read_csv("D:\Datasets\Big Data\stores.csv")
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

In [9]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 15 columns):
StoreCode          32 non-null object
StoreName          32 non-null object
StoreType          32 non-null object
Location           32 non-null object
OperatingCost      32 non-null float64
Staff_Cnt          32 non-null int64
TotalSales         32 non-null float64
Total_Customers    32 non-null int64
AcqCostPercust     29 non-null float64
BasketSize         32 non-null float64
ProfitPercust      32 non-null float64
OwnStore           32 non-null int64
OnlinePresence     32 non-null int64
Tenure             32 non-null int64
StoreSegment       32 non-null int64
dtypes: float64(5), int64(6), object(4)
memory usage: 3.8+ KB

In [10]:
# The isnull() function
stores.AcqCostPercust.isnull()
# if a value in Series is NON then True

ACQ = stores.AcqCostPercust
ACQ

ACQ.fillna(0)

# Replace NaN in ACQ with mean()
ACQ.fillna(ACQ.mean())

0     3.900000
1     3.900000
2     3.850000
3     3.080000
4     3.150000
5     2.760000
6     3.210000
7     3.690000
8     3.920000
9     3.920000
10    3.920000
11    3.651034
12    3.651034
13    3.651034
14    2.930000
15    3.000000
16    3.230000
17    4.080000
18    4.930000
19    4.220000
20    3.700000
21    2.760000
22    3.150000
23    3.730000
24    3.080000
25    4.080000
26    4.430000
27    3.770000
28    4.220000
29    3.620000
30    3.540000
31    4.110000
Name: AcqCostPercust, dtype: float64

In [ ]:
# Aggreations / Group by
# Step 1: Group by
temp = stores.groupby("Location")
# This step creating temp object

# Step 2: Selecting the Continuos variable
temp = temp[["TotalSales"]]

# Step 3
temp.sum().reset_index()

In [ ]:
# Evething in 1 step
stores.groupby(["Location"])[["TotalSales"]].sum().reset_index()

In [ ]:
# Prefix
stores.groupby(["Location"])[["TotalSales"]].sum().add_prefix("SumOf_").reset_index()

In [ ]:
# Group by Location and StoreType, find SumOfOperatingCost
stores.groupby(["Location","StoreType"])[["TotalSales"]].sum().add_prefix("SumOf_").reset_index()

In [ ]:
stores.groupby(["Location","StoreType"])[["TotalSales","Total_Customers"]].sum().add_prefix("SumOf_").reset_index()

In [ ]:
# Group by Location, find
stores.groupby(["Location"])[["TotalSales","Total_Customers"]].sum().add_prefix("SumOf_").reset_index()

In [11]:
# Group by Location, MeanOfTotalSales
Res = stores.groupby(["Location"], as_index = False).agg({"OperatingCost":"sum","TotalSales":"mean"})
Res = Res.rename(columns = {"OperatingCost":"SumOfOperatingCost","TotalSales":"AvgOfTotalSales"})
Res

  Location  SumOfOperatingCost  AvgOfTotalSales
0  Chennai               129.5         279.4250
1    Delhi               161.7         222.2125
2  Kolkata               174.8         201.5500
3   Mumbai               176.9         219.7000

In [12]:
# Binning
# Phan khoang du lieu cua mot Columns
import numpy as np

x = -10
# if x is +, or -
np.where((x>0),"positive","negative")

array('negative', dtype='<U8')

In [13]:
np.where((x==0),"zero",np.where((x>0),"positive","negative"))

array('negative', dtype='<U8')

In [14]:
TS = stores.TotalSales
np.where((TS<100),"Low",np.where(((TS>=100) & (TS <200)),"Mid",np.where(((TS>=200) & (TS<300)),"High","Very High")))

array(['Mid', 'Mid', 'Mid', 'High', 'Very High', 'High', 'Very High',
       'Mid', 'Mid', 'Mid', 'Mid', 'High', 'High', 'High', 'Very High',
       'Very High', 'Very High', 'Low', 'Low', 'Low', 'Mid', 'Very High',
       'Very High', 'Very High', 'Very High', 'Low', 'Mid', 'Low',
       'Very High', 'Mid', 'Very High', 'Mid'], dtype='<U9')

In [15]:
import pandas as pd
# Merging

# Inner join
# Outer / Left join

# pd.merge()

demographic = pd.read_csv("D:\Datasets\Big Data\Demographic_Data.csv")
txn = pd.read_csv("D:\Datasets\Big Data\Transaction_Summary.csv")

In [16]:
demographic

  CustName Gender  Age   Location  Salary Education      Mobile
0     Alex      M   21         UK   19159       PhD  8834777722
1      Tom      M   34        USA   10461         X  8812237772
2   Michel      M   25      India   19961       XII  8834777232
3  Michael      M   28    Belgium     821     B.Com  8831234222
4   Patrik      M   29  Australia   13743       MBA  8823427722
5     Hans      M   34      Japan   25000        MS  8834772342
6  Biliana      F   26     Russia    3000        MS  8837427722
7      Raj      M   29      India    2000        MS  9892877722
8    Laila      F   26      India    4000       MBA  7867277722
9  Prabhas      F   35      India   20000       MBA  8834772321

In [17]:
txn

,CustomerName,Total_Transaction_value,No_of_holding_prods,No_of_visits,No_of_channels
0,Alex,19159,3,3,1
1,Tom,10461,2,7,2
2,Michel,19961,4,8,3
3,Hans,821,1,2,2
4,Biliana,13743,6,9,3
5,Rajesh,25000,2,12,2
6,Laila,3000,1,6,1
7,Prabhas,2000,2,4,2
8,Ramu,30000,6,2,3

In [ ]:
# Thuc hien Merge 2 bang so lieu
pd.merge(left = demographic,
         right = txn,
         left_on = "CustName",
         right_on = "CustomerName",
         indicator = True
        )

In [ ]:
import pandas as pd

demographic = pd.read_csv("D:\Datasets\Big Data\Demographic_Data.csv")
txn = pd.read_csv("D:\Datasets\Big Data\Salary_Data.csv")
txn
#demographic

In [ ]:
data = pd.read_csv("D:\Datasets\Big Data\Demographic_Data.csv")
data

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D

ox = np.arange(-5, 5, 0.25)
oy = np.arange(-5, 5, 0.25)
ox, oy = np.meshgrid(ox, oy)
oz = ox**2 + oy**2 # Hàm số z = x^2 + y^2

fig = plt.figure()
graph = Axes3D(fig)
graph.plot_surface(ox, oy, oz, cmap=cm.magma)

plt.show()