In [1]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# from __future__ import division, print_function, unicode_literals
from sklearn import tree
import pandas as pd 
import statsmodels.formula.api as smf
# from __future__ import division, print_function, unicode_literals
import numpy as np 
import matplotlib.pyplot as plt
salary = pd.read_csv("salary.csv")
salary.head()

   id  salbeg  sex  time    age  salnow  edlevel   work  jobcat
0   7    6900    0    79  28.00   16080       15   3.17       1
1   8    5400    0    67  28.75   14100       15   0.50       1
2   9    5040    0    96  27.42   12420       15   1.17       1
3  11    6300    0    84  33.50   15720       15   6.00       1
4  12    6000    0    88  54.33    8880       12  27.00       1

In [0]:
# Initialise and fit linear regression model using `statsmodels`
model1 = smf.ols('salnow ~ salbeg', data = salary)
model1 = model1.fit()
model1.params # Intecept & Slope

In [0]:
# Predict values
salary_now = model1.predict()
# Plot regression against actual data
plt.figure(figsize=(12, 6))
plt.plot(salary['salbeg'], salary['salnow'], 'o')           # scatter plot showing actual data
plt.plot(salary['salbeg'], salary_now, 'r', linewidth=2)   # regression line
plt.xlabel('Salary begin ')
plt.ylabel('Sales now')
plt.title('Salnow vs Salbegin')
plt.show()

In [0]:
new_salarybegin = 5000
model1.predict({"salbeg": new_salarybegin})

In [0]:
from sklearn.linear_model import LinearRegression
# Build linear regression model using TV and Radio as predictors
# Split data into predictors X and output Y
predictors = ['salbeg', 'work']
X = salary[predictors]
y = salary['salnow']
# Initialise and fit model
lm = LinearRegression()
model2 = lm.fit(X, y)

In [0]:
print(f'alpha = {model2.intercept_}')
print(f'betas = {model2.coef_}')

In [0]:
from sklearn import tree
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import statsmodels.formula.api as smf
# from __future__ import division, print_function, unicode_literals
import numpy as np 
import matplotlib.pyplot as plt
salary = pd.read_csv("D://Datasets/Data_Analysis/salary.csv")
salary.head()

In [0]:
import statsmodels.formula.api as smf
# Initialise and fit linear regression model using `statsmodels`
model = smf.ols('salnow ~ salbeg', data = salary)
model = model.fit()
model.params # Intecept & Slope

In [0]:
# Predict values
salary_now = model.predict()
# Plot regression against actual data
plt.figure(figsize=(12, 6))
plt.plot(salary['salbeg'], salary['salnow'], 'o')           # scatter plot showing actual data
plt.plot(salary['salbeg'], salary_now, 'r', linewidth=2)   # regression line
plt.xlabel('Salary begin ')
plt.ylabel('Sales now')
plt.title('Salnow vs Salbegin')
plt.show()

In [0]:
new_salarybegin = 5000
model.predict({"salbeg": new_salarybegin})

In [0]:
from sklearn.linear_model import LinearRegression
# Build linear regression model using TV and Radio as predictors
# Split data into predictors X and output Y
predictors = ['salbeg']
X = salary[predictors]
y = salary['salnow']
# Initialise and fit model
lm = LinearRegression()
model2 = lm.fit(X, y)

In [0]:
print(f'alpha = {model2.intercept_}')
print(f'betas = {model2.coef_}')
model2.intercept_
model2.coef_

In [0]:
from sklearn.linear_model import LinearRegression
# Build linear regression model using TV and Radio as predictors
# Split data into predictors X and output Y
predictors = ['salbeg','work','time']
X = salary[predictors]
y = salary['salnow']
# Initialise and fit model
lm = LinearRegression()
model3 = lm.fit(X, y)

In [0]:
print(f'alpha = {model3.intercept_}')
print(f'betas = {model3.coef_}')

In [0]:
new_X = [[300, 200,30]]
print(model3.predict(new_X))

In [2]:
model3.predict(X)

NameError: name 'model3' is not defined